# Helm template
ca:
  containerSecurityContext:
    readOnlyRootFilesystem: false
inject:
  enabled: true
  # Config contains the configuration files ca.json and defaults.json
  config:
    files:
      ca.json:
        root: /home/step/certs/root_ca.crt
        federateRoots: []
        crt: /home/step/certs/intermediate_ca.crt
        key: /home/step/secrets/intermediate_ca_key
        address: :9000
        dnsNames:
          - step-certificates.step-ca.svc.cluster.local
          - ca.mh.com
        logger:
          format: json
        db:
          type: badgerv2
          dataSource: /home/step/db
        authority:
          enableAdmin: false
          provisioners:
            - {
                "type": "JWK",
                "name": "jwk",
                "key":
                  {
                    "use": "sig",
                    "kty": "EC",
                    "kid": "PojokEw2VpFmrAZuXA9_5DkhaonwYqqxXNVqed6955E",
                    "crv": "P-256",
                    "alg": "ES256",
                    "x": "iRx0S0k281Qq53XqfMjQ2rsVmV4BrLRo2e4NnURORz0",
                    "y": "B-bMgkhFmxUzznOHrvNUsw4xnDSk6Du5sowequdz_3w",
                  },
                "encryptedKey": "eyJhbGciOiJQQkVTMi1IUzI1NitBMTI4S1ciLCJjdHkiOiJqd2sranNvbiIsImVuYyI6IkEyNTZHQ00iLCJwMmMiOjYwMDAwMCwicDJzIjoiZnBfZ24wR2plcFNEOXJwYzdMeU5QdyJ9.fhJb4JGaMAZg3FoyZufRvF49h9GjqIegaI9viku_aKuPvorSjUqoKA.Ao0gERuQjPBYgvke.7UiRKyBv-Z0JZ1udsMhRmx5ZN3qpDLuxTozF78x9V1ifFmZfjQ60CyeoxGKWwlY9K1MYnaibwrTZXdgV1vojyC9Hn-B_FkDYu1H4vp3uZwDjSN13Rg2lmPePAHfxwsRrsST75mql0cGHgdmKgMBSVP2rU92ytZMpkXf2C2Q2-MfHY4vp0eK3IYWEKVwmjumKokIb_1hx0JjnaFpEHU4MNrn9d4oQuqTkjlp7vPRk7SqvdaEKBRFQNFkwnEKcmF5J4pOLD1hOkrMDV3Slrr6okyZ5Sn3kVfAaYlb_R6hc57VacBMtmprCGboup-WCngGMMzrSmJ0zw9U4qFblwoI.LvM8XtF-M2qqj_p_FGxHng",
                "options": { "x509": {}, "ssh": {} },
              }
        tls:
          cipherSuites:
            - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
            - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
          minVersion: 1.2
          maxVersion: 1.3
          renegotiation: false

      defaults.json:
        ca-url: https://step-certificates.step-ca.svc.cluster.local
        ca-config: /home/step/config/ca.json
        fingerprint: 20e268b276c5fa80c382ff5e238eb2730d4d41418c93db21374f9940794a9e8d
        root: /home/step/certs/root_ca.crt

  # Certificates contains the root and intermediate certificate and
  # optionally the SSH host and user public keys
  certificates:
    # intermediate_ca contains the text of the intermediate CA Certificate
    intermediate_ca: |
      -----BEGIN CERTIFICATE-----
      MIIBzDCCAXKgAwIBAgIQYMTtzYiRDj2QWsu40XHIzjAKBggqhkjOPQQDAjAwMRIw
      EAYDVQQKEwlTbWFsbHN0ZXAxGjAYBgNVBAMTEVNtYWxsc3RlcCBSb290IENBMB4X
      DTI2MDIwNjEyNTI1MFoXDTM2MDIwNDEyNTI1MFowODESMBAGA1UEChMJU21hbGxz
      dGVwMSIwIAYDVQQDExlTbWFsbHN0ZXAgSW50ZXJtZWRpYXRlIENBMFkwEwYHKoZI
      zj0CAQYIKoZIzj0DAQcDQgAE0P4fpvyXHOEaOkclQ+yyA65Wf28p7zBnmuOarJxw
      l8N6oJv2CrEyD6wxFjKlOQmdrjKsefnAOoZ5J0qeseby2aNmMGQwDgYDVR0PAQH/
      BAQDAgEGMBIGA1UdEwEB/wQIMAYBAf8CAQAwHQYDVR0OBBYEFIK6wT90S3WWBUug
      HP3hHmQB6wkeMB8GA1UdIwQYMBaAFCgRIYLOymMbaFgAx+lsOMV3dQ2JMAoGCCqG
      SM49BAMCA0gAMEUCIBwWDZ7DsQeixteO+EjXPUf1BIa5fCR2p2pl4Lsxz/srAiEA
      89YSt54t4Dc+KM8v5IuRReNMowM+CHFeNB+0/qrlovo=
      -----END CERTIFICATE-----

    # root_ca contains the text of the root CA Certificate
    root_ca: |
      -----BEGIN CERTIFICATE-----
      MIIBpDCCAUqgAwIBAgIRAIxa+aTIJe3H/XnISgXr0BcwCgYIKoZIzj0EAwIwMDES
      MBAGA1UEChMJU21hbGxzdGVwMRowGAYDVQQDExFTbWFsbHN0ZXAgUm9vdCBDQTAe
      Fw0yNjAyMDYxMjUyNDlaFw0zNjAyMDQxMjUyNDlaMDAxEjAQBgNVBAoTCVNtYWxs
      c3RlcDEaMBgGA1UEAxMRU21hbGxzdGVwIFJvb3QgQ0EwWTATBgcqhkjOPQIBBggq
      hkjOPQMBBwNCAARf6XiJUA1bf9aYzcJ+5Mluov1nBVNaiVNQeYtGS85oLf7eTxO0
      lE8Qm3M8cxZg4DiOecwv9keRyPjZo6khppRPo0UwQzAOBgNVHQ8BAf8EBAMCAQYw
      EgYDVR0TAQH/BAgwBgEB/wIBATAdBgNVHQ4EFgQUKBEhgs7KYxtoWADH6Ww4xXd1
      DYkwCgYIKoZIzj0EAwIDSAAwRQIhAKDcw6/7pxVm29cBE0OEUN4nNt3eeioxqfhw
      M4pfwZsLAiBd9fErjFjURJDc/iwgSluFwLXwndxS2U9zeXVGDT276Q==
      -----END CERTIFICATE-----

  # Secrets contains the root and intermediate keys and optionally the SSH
  # private keys
  secrets:
    # ca_password contains the password used to encrypt x509.intermediate_ca_key, ssh.host_ca_key and ssh.user_ca_key
    # This value must be base64 encoded.
    ca_password:
    provisioner_password:

    x509:
      # intermediate_ca_key contains the contents of your encrypted intermediate CA key
      intermediate_ca_key: |
        -----BEGIN EC PRIVATE KEY-----
        Proc-Type: 4,ENCRYPTED
        DEK-Info: AES-256-CBC,f36f54eb4c6f0a44dbe57b1a2dd3479a

        BG58VYXCOxjT/fnPRwtijRvxG32ulZEv8Pk/7efmm2nRsy69Ttv4NQW1eHdaBKXA
        h1OTKGqJGGNRrxWeSZSBCpYPZedp+3D6dszd4MUmMknwXj/d+5xSoO+AXvIMvgsV
        q6iZwpIVZhUYUsj19XVlmJQzTYpUf4I3P0CYQAQqkG8=
        -----END EC PRIVATE KEY-----

      # root_ca_key contains the contents of your encrypted root CA key
      # Note that this value can be omitted without impacting the functionality of step-certificates
      # If supplied, this should be encrypted using a unique password that is not used for encrypting
      # the intermediate_ca_key, ssh.host_ca_key or ssh.user_ca_key.
      root_ca_key: |
        -----BEGIN EC PRIVATE KEY-----
        Proc-Type: 4,ENCRYPTED
        DEK-Info: AES-256-CBC,dd5d34480d341e6110b1b808aeb2731d

        TPlvTL/IbGrAxsz1FrPi85KbLrvC2p3wyVUK4Xga8MwX5AeMTu1ClRTDM0TnWsGQ
        li8jfeuNAeKgU5c1cKp+Z54YHu30QrCglqit0yUFoE+AmCRbtl8hX206I53CPEo4
        OIvV+Suqmjv9RsgV36KPVSx19YALyuG2UDc57kvyonU=
        -----END EC PRIVATE KEY-----
